$heading-font-family: 'Raleway';
$headings: (
  'subtitle-1': (
    letter-spacing: 0.1em,
  ),
  'subtitle-2':(
    letter-spacing: 0.1em,
  ),
);
$stepper-step-step-margin: 25px;
/*
 grey: #BDBDBD;
 dark-grey: #4F4F4F;
*/
$body-font-family: 'Roboto';
$heading-font-family: 'Raleway';

$color-white: #ffffff;
$color-gray: #404142;
$color-dark: #272727;
$color-green: #6fba7f;
$color-pink: #eda1bf;
$color-purple: #ae92b1;
$color-red: #ea6764;
$color-blue: #3c9dcd;
$color-yellow: #fdd35a;
